@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;0,8..144,500;0,8..144,700;1,8..144,200;1,8..144,300;1,8..144,500;1,8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,100;1,200&display=swap'); /* Tailwind usefully directives */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Roboto+Serif:ital,opsz,wght@1,8..144,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto Serif', serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* =================== GLOBAL =================== */

body{
  background-color: #ffffff;
  color: black;
}

.font-roboto{
  font-family: 'Roboto Serif', serif;
}

.font-Display{
  font-family: 'Playfair Display', serif;
}

/* =================== COLOR =================== */
.c_green {
  color: #18C3A1;
}
.c_pink {
  color: #EF767A;
}
.c_yellow {
  color: #EEB868;
}
.bg_green{
  background-color: #18C3A1;
}
.bg_pink{
  background-color: #EF767A;
}
.bg_yellow{
  background-color: #EEB868;
}
/* =================== DISPLAY MODES ===================*/
.d_none {
  display: none;
}
.d_content {
  display: contents;
}
.text_shadow{
  text-shadow: 1px 1px 2px;
}

/* =================== MARGIN MODES ===================*/
.mx_30 {
   margin: 0 30%;
 }
.ml_35{
  margin-left: 35%;
}
.flex_1{
  flex: 1;
}
.flex_2{
  flex: 2;
}

/* =================== HOME ===================*/
.svg-container {
  animation: waveAnimation 5s linear infinite;
}

@keyframes waveAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Adjust the height of the wave */
  }
  100% {
    transform: translateY(0);
  }
}

/* ------------------------------------------------------ */
.start-div {
  height: 100vh;
  width: 99vw;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* ---------- ANIMATION STARTER PAGE ---------- */
.animation_text {
  animation: moveToTop;
  animation-duration: 3s;
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(+60px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.black-window {
  animation-delay: -10s;
  animation: BlackWindow;
  animation-duration: 1s;
  background-color: black;
}

@keyframes BlackWindow {
  0% {
    opacity: 0;
    transform: translateY(+1000px);
  }

  100% {
    opacity: 1;
  }
}