@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;0,8..144,500;0,8..144,700;1,8..144,200;1,8..144,300;1,8..144,500;1,8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,100;1,200&display=swap'); /* Tailwind usefully directives */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Roboto+Serif:ital,opsz,wght@1,8..144,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto Serif', serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* =================== GLOBAL =================== */

body{
  background-color: #ffffff;
  color: black;
}

.font-roboto{
  font-family: 'Roboto Serif', serif;
}

.font-Display{
  font-family: 'Playfair Display', serif;
}

/* =================== COLOR =================== */
.c_green {
  color: #18C3A1;
}
.c_pink {
  color: #EF767A;
}
.c_yellow {
  color: #EEB868;
}
.bg_green{
  background-color: #18C3A1;
}
.bg_pink{
  background-color: #EF767A;
}
.bg_yellow{
  background-color: #EEB868;
}
/* =================== DISPLAY MODES ===================*/
.d_none {
  display: none;
}
.d_content {
  display: contents;
}
.text_shadow{
  text-shadow: 1px 1px 2px;
}
.flex_1{
  flex: 1;
}
.flex_2{
  flex: 2;
}
/* =================== WIDTH/HEIGHT MODES ===================*/
.w_30 {
  width: 30%;
}
.w-17em{
  width: 17em;
}
.w_90{
   width: 90%;
}
.w_85{
  width: 85%;
}
.h_70 {
  height: 70%;
}
.h_252{
  height: 252px;
}
.imdSchool{
  width: 250px;
  height: 250px;
}

/* =================== MARGIN MODES ===================*/
.fullscreen {
  width: 100%;
  height: 100vh;
}
.mx_20 {
  margin: 1em 20%;
}
.mx_10 {
  margin: 1em 10%;
}
.mx_30 {
   margin: 0 30%;
 }
.mx_25{
  margin-left: 25%;
  margin-right: 25%;
}
.mt-20 {
  margin-top: 2em;
}
.mx-1e {
  margin-left: 1em;
}
.mr-1e {
  margin-right: 1%;
}
.mr-5e {
  margin-right: 5%;
}
.mb_4 {
  margin-bottom: 4%;
}
.ml_10{
  margin-left: 10%;
}
.ml_15{
  margin-left: 15%;
}
.ml_85{
  margin-left: 85%;
}
.h_photo{
  height: 350px;
}
.min_h_455{
  min-height: 455px;
}
/* =================== PADDING MODES ===================*/
.padding_x10 {
  padding: 7% 0;
}
.bd_rad64px{
  border-radius: 64px;
}
.bd_rad_br_64px{
  border-bottom-right-radius: 64px;
  border-top-left-radius: 64px;
}

/* =================== HeaderHomePage =================== */
.typewriter {
  font-size: 3em;
  margin: 25% 0 10% 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  /* font-style:italic; */
  /* font-family: 'Bebas Neue', cursive; */
}
.nameBase{
  font-family: 'Raleway';
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  margin-top: 1.3em;
}
.title{
  font-size: 1.5em;
}
/* =================== NAVBAR =================== */
.Navbar {
  width: 30%;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 0 1.5em;
}

.list_display {
  list-style: none;
  text-align: start;
  font-weight: 400;
  /* letter-spacing: 0.1em; */
}

.list_display li {
  margin-bottom: 1em;
}

.list_display li a:hover {
  font-size: 1.1em;
}

.list_item{
  transform: translate(0);
  transition-duration: 2s;
  transition: transform 1s ease-in-out;
}

.text_menu {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  width: 75px;
}
/* =================== BURGER MENU =================== */


.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #76c893;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
}

.lign_green {
  border-top: #25a244 solid 3px;
}

